div.gallery {
    border: 1px solid #927a7a;
  }
  
  div.gallery:hover {
    border: 1px solid #bd6363;
  }
  
  div.gallery img {
    width: 100%;
    height: 90px;
  }
  
  div.desc {
    padding: 10px;
    font-size: small;
    text-align: center;
    color:#9c4479;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 15px 20px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 300px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 300px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  